<%- include('../includes/header.ejs') %>

		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Ganti Password</h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">

					<% if(errorMessage) { %>
						<h5 class="text-center mb-4"><%= errorMessage %></h5>
					<% } %>

					<div class="login-wrap p-4 p-md-5">

						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>

						<h3 class="text-center mb-4">Halo, <%= user.nama %>, Silahkan ganti Password Anda!</h3>

						<form action="/change_password" class="login-form" method="post">
							<div class="form-group">

								<input type="hidden" name="_csrf" value="<%= csrfToken %>">

								<div class="form-group d-flex">
									<input type="password" class="form-control rounded-left" name="passwordLama" placeholder="Password Lama" required>
								</div>

								<div class="form-group d-flex">
									<input type="password" class="form-control rounded-left" name="passwordBaru" placeholder="Password Baru" required minlength="6">
								</div>

								<div class="form-group d-flex">
									<input type="password" class="form-control rounded-left" name="passwordBaruKonfirmasi" placeholder="Konfirmasi Password" required minlength="6">
								</div>

							</div>
							<div class="form-group d-md-flex">
								<div class="w-50 text-md-left">
									<a href="/">Kembali</a>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Konfirmasi Ganti Password</button>
							</div>
					  </form>

	        		</div>
				</div>
			</div>
		</div>
	</section>

<!--	<script src="js/jquery.min.js"></script>-->
<!--  <script src="js/popper.js"></script>-->
<!--  <script src="js/bootstrap.min.js"></script>-->
<!--  <script src="js/main.js"></script>-->

	</body>
</html>

