<%- include('../includes/header.ejs') %>

		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Berhasil Hapus Akun!</h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">

					<div class="login-wrap p-4 p-md-5">

						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>

						<h5 class="text-center mb-4">Selamat, Akun : <%= email %> berhasil dihapus. kembali ke halaman <a href="/login">Login</a> </h5>

	        		</div>
				</div>
			</div>
		</div>
	</section>

<!--	<script src="js/jquery.min.js"></script>-->
<!--  <script src="js/popper.js"></script>-->
<!--  <script src="js/bootstrap.min.js"></script>-->
<!--  <script src="js/main.js"></script>-->

	</body>
</html>

